Client/Connected Services/ServiceExchangeCurrency/SOAP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConvertRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="From" type="tns:Currency" />
      <xs:element minOccurs="0" name="To" type="tns:Currency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConvertRequest" nillable="true" type="tns:ConvertRequest" />
  <xs:simpleType name="Currency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EUR" />
      <xs:enumeration value="USD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Currency" nillable="true" type="tns:Currency" />
  <xs:complexType name="ConvertResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="To" type="tns:Currency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConvertResponse" nillable="true" type="tns:ConvertResponse" />
</xs:schema>